TCP.FixedString/.vs/
TCP.Hello/.vs/
TCP.JsonFormater/.vs/
TCP.MessagePackFormater/.vs/
TCP.MessagePackFormater/Client/obj/
TCP.MessagePackFormater/Messages/obj/
TCP.MessagePackFormater/Server/obj/
TCP.ProtobufFormater/Client/obj/
TCP.ProtobufFormater/.vs/
TCP.ProtobufFormater/Messages/obj/
TCP.ProtobufFormater/Server/obj/
Web.Caching/Web.Caching/bin/
Web.Caching/Web.Caching/obj/
Web.HeaderAndCookies/.vs/
Web.HeaderAndCookies/Web.HeaderAndCookies/obj/
Web.Hello/.vs/
Web.Caching/.vs/
Web.Hello/Web.Hello/bin/
Web.Hello/Web.Hello/obj/
Web.Validations/.vs/
Web.JWT/.vs/
Web.ThreadQueue/.vs/
Web.ThreadQueue/Web.ThreadQueue/bin/
Web.ThreadQueue/Web.ThreadQueue/obj/
Web.UrlRewrite/.vs/
Web.UrlRewrite/Web.UrlRewrite/bin/
Web.UrlRewrite/Web.UrlRewrite/obj/
WebSocket.Chat/WebSocket.Chat/bin/
WebSocket.Chat/.vs/
WebSocket.Chat/WebSocket.Chat/obj/
WebSocket.Chat/WebSocket.Chat/Properties/
WebSocket.Hello/.vs/
WebSocket.Hello/WebSocket.Hello/bin/
WebSocket.Hello/WebSocket.Hello/obj/
TCP.FixedString/Client/obj/
TCP.FixedString/Server/obj/
TCP.Hello/Client/obj/
TCP.Hello/Server/obj/
WebSocket.UploadFiles/.vs/
WebSocket.UploadFiles/WebSocket.UploadFiles/bin/
WebSocket.UploadFiles/WebSocket.UploadFiles/obj/
Websocket.CustomFrameDeserialize/.vs/
Websocket.CustomFrameDeserialize/Websocket.CustomFrameDeserialize/bin/
Websocket.CustomFrameDeserialize/Websocket.CustomFrameDeserialize/obj/
WebSocket.UploadFiles/WebSocket.UploadFiles/Properties/
WebSocket.UploadFiles/WebSocket.UploadFiles/
XRPC.Actor/.vs/
XRPC.Actor/Client/bin/
XRPC.Actor/Client/obj/
XRPC.Actor/Server/bin/
XRPC.Actor/Server/obj/
XRPC.Hello/.vs/
XRPC.Hello/Client/bin/
XRPC.Hello/Client/obj/
XRPC.Hello/Server/bin/
XRPC.Hello/Server/obj/
XRPC.JWT/.vs/
XRPC.JWT/Client/bin/
XRPC.JWT/Client/obj/
XRPC.JWT/Server/bin/
XRPC.JWT/Server/obj/
XRPC.WPF/.vs/
XRPC.WPF/Client/bin/
XRPC.WPF/Client/obj/
XRPC.WPF/packages/
XRPC.WPF/Server/bin/
XRPC.WPF/Server/obj/
EventNext.ThreadContainer/.vs/
EventNext.ThreadContainer/EventNext.ThreadContainer/bin/
EventNext.ThreadContainer/EventNext.ThreadContainer/obj/
EventNext.ThreadContainer/EventNext.ThreadContainer/Properties/
EventNext.Actor/.vs/
EventNext.Actor/EventNext.Actor/bin/
EventNext.Actor/EventNext.Actor/obj/
EventNext.Hello/.vs/
EventNext.Hello/EventNext.Hello/bin/
EventNext.Hello/EventNext.Hello/obj/
TCP.FixedString/Client/bin/
TCP.FixedString/Server/bin/
TCP.Hello/Client/bin/
TCP.Hello/Server/bin/
TCP.JsonFormater/Client/bin/
TCP.JsonFormater/Client/obj/
TCP.JsonFormater/Messages/bin/
TCP.JsonFormater/Messages/obj/
TCP.JsonFormater/Server/bin/
TCP.JsonFormater/Server/obj/
TCP.MessagePackFormater/Client/bin/
TCP.MessagePackFormater/Messages/bin/
TCP.MessagePackFormater/Server/bin/
TCP.ProtobufFormater/Client/bin/
TCP.ProtobufFormater/Messages/bin/
TCP.ProtobufFormater/Server/bin/
TCP.SSL/.vs/
TCP.SSL/Client/bin/
TCP.SSL/Client/obj/
TCP.SSL/Messages/bin/
TCP.SSL/Messages/obj/
TCP.SSL/Server/bin/
TCP.SSL/Server/obj/
XRPC.WPF_SSL/Client/bin/
XRPC.WPF_SSL/Client/obj/
XRPC.WPF_SSL/Client/Properties/
XRPC.WPF_SSL/packages/
XRPC.WPF_SSL/Server/bin/
XRPC.WPF_SSL/Server/obj/
XRPC.WPF_SSL/.vs/
XRPC_SSL/.vs/
XRPC_SSL/Client/bin/
XRPC_SSL/Client/obj/
XRPC_SSL/Server/bin/
XRPC_SSL/Server/obj/
XRPC.DI/Client/bin/
XRPC.DI/Client/obj/
XRPC.DI/Server/bin/
XRPC.DI/Server/obj/
XRPC.DI/.vs/
XRPC.InterfaceTwoWay/.vs/
XRPC.InterfaceTwoWay/Client/bin/
XRPC.InterfaceTwoWay/Client/obj/
XRPC.InterfaceTwoWay/Server/bin/
XRPC.InterfaceTwoWay/Server/obj/
XRPC.WFPChat/.vs/
XRPC.WFPChat/Client/bin/
XRPC.WFPChat/Client/obj/
XRPC.WFPChat/packages/
XRPC.WFPChat/Server/bin/
XRPC.WFPChat/Server/obj/
Web.Download/.vs/
Web.Download/Web.Download/bin/
Web.Download/Web.Download/obj/
Gateway.Base/Gateway.Base/bin/
Gateway.Base/Gateway.Base/obj/
Gateway.Base/.vs/
Gateway.LogPlugin/.vs/
Gateway.LogPlugin/Gateway.LogPlugin/bin/
Gateway.LogPlugin/Gateway.LogPlugin/obj/
TCP.AsynClient/.vs/
TCP.AsynClient/Client/bin/
TCP.AsynClient/Client/obj/
TCP.AsynClient/Server/bin/
TCP.AsynClient/Server/obj/
TCP.BaseHttp/.vs/
TCP.BaseHttp/TCP.BaseHttp/bin/
TCP.BaseHttp/TCP.BaseHttp/obj/
Web.JsonEditor/Web.JsonEditor/bin/
Web.JsonEditor/Web.JsonEditor/obj/
Web.JsonEditor/.vs/
TCP.BaseHttp/TCP.BaseHttp/Properties/
Gateway.ConsulClientRegister/.vs/
Gateway.ConsulClientRegister/Gateway.ConsulClientRegister/bin/
Gateway.ConsulClientRegister/Gateway.ConsulClientRegister/obj/
Web.JsonEditor/Web.JsonEditor/Properties/
RedisClient.Subscribe/.vs/
RedisClient.Subscribe/RedisClient.Subscribe/bin/
RedisClient.Subscribe/RedisClient.Subscribe/obj/
TCP.Awaiter/.vs/
TCP.Awaiter/Client/bin/
TCP.Awaiter/Client/obj/
TCP.Awaiter/packages/
TCP.Awaiter/Server/bin/
TCP.Awaiter/Server/obj/
Web.ExecptionFilter/.vs/
Web.ExecptionFilter/Web.ExecptionFilter/bin/
Web.ExecptionFilter/Web.ExecptionFilter/obj/
TCP.FixedString/Server/Properties/
Gateway.OverrideHttpRequest/.vs/
Gateway.OverrideHttpRequest/Gateway.OverrideHttpRequest/bin/
Gateway.OverrideHttpRequest/Gateway.OverrideHttpRequest/obj/
XRPC.DelegateInvoke/.vs/
XRPC.DelegateInvoke/Client/bin/
XRPC.DelegateInvoke/Client/obj/
XRPC.DelegateInvoke/packages/
XRPC.DelegateInvoke/Server/bin/
XRPC.DelegateInvoke/Server/obj/
Web.JwtPlugin/.vs/
Web.JwtPlugin/bin/
Web.JwtPlugin/obj/
Web.UploadFiles/Web.UploadFiles/bin/
Web.UploadFiles/Web.UploadFiles/obj/
XRPC.DelegateSubscribe/.vs/
XRPC.DelegateSubscribe/Client/bin/
XRPC.DelegateSubscribe/Client/obj/
XRPC.DelegateSubscribe/Server/bin/
XRPC.DelegateSubscribe/Server/obj/
Web.ApiDoc/.vs/Web.ApiDoc/v15/
Web.ApiDoc/Web.ApiDoc/bin/
Web.ApiDoc/Web.ApiDoc/obj/
Web.AutoUI/.vs/
Web.AutoUI/Web.AutoUI/bin/
Web.AutoUI/Web.AutoUI/obj/
Web.ApiDoc/.vs/
Websocket.Client/.vs/
Websocket.Client/Websocket.Client/obj/
Websocket.Client/Websocket.Client/bin/
Web.Admin/bin/
Web.Admin/obj/
Web.Admin/.vs/
BeetleX.Samples.WebFamily.Base/.vs/
Web.UploadFiles/.vs/Web.UploadFiles/v16/
BeetleX.Samples.WebFamily.Base/NorthwindEFCore/bin/
BeetleX.Samples.WebFamily.Base/NorthwindEFCore/obj/
BeetleX.Samples.WebFamily.Base/BeetleX.Samples.WebFamily.Base/bin/
BeetleX.Samples.WebFamily.Base/BeetleX.Samples.WebFamily.Base/obj/
Web.ApiDoc/Web.ApiDoc/Properties/
Web.UploadFiles/.vs/
TCP.Hello/Server/Class1.cs
TCP.FixedString/Server/test.pfx
BeetleX.Samples.WebFamily.AdminTheme/BeetleX.Samples.WebFamily.AdminTheme/obj/
BeetleX.Samples.WebFamily.AdminTheme/NorthwindEFCore/obj/
BeetleX.Samples.WebFamily.AdminTheme/NorthwindEFCore/bin/
BeetleX.Samples.WebFamily.AdminTheme/BeetleX.Samples.WebFamily.AdminTheme/bin/
Web.UploadFiles/Web.UploadFiles/Webapi.cs
WebSocket.Chat/WebSocket.Chat/views/images/background.png
BeetleX.Samples.WebFamily.AdminThemeWPF/BeetleX.Samples.WebFamily.AdminThemeWPF/bin/
BeetleX.Samples.WebFamily.AdminThemeWPF/BeetleX.Samples.WebFamily.AdminThemeWPF/obj/
BeetleX.Samples.WebFamily.AdminThemeWPF/NorthwindEFCore/bin/
BeetleX.Samples.WebFamily.AdminThemeWPF/NorthwindEFCore/obj/
BeetleX.Samples.WebFamily.WPF-VUE/BeetleX.Samples.WebFamily.WPF-VUE/bin/
BeetleX.Samples.WebFamily.WPF-VUE/BeetleX.Samples.WebFamily.WPF-VUE/obj/
BeetleX.Samples.WebFamily.AdminThemeWPF/.vs/
BeetleX.XRPC.Xamarin/.vs/
BeetleX.XRPC.Xamarin/XamarinApp/XamarinApp.Android/obj/
BeetleX.XRPC.Xamarin/XamarinApp/XamarinApp.Android/bin/
BeetleX.XRPC.Xamarin/XamarinApp/XamarinApp/obj/
BeetleX.XRPC.Xamarin/ServerApp/bin/
BeetleX.XRPC.Xamarin/ServerApp/obj/
BeetleX.XRPC.Xamarin/XamarinApp/XamarinApp/bin/
Web.Validations/Web.Validations/bin/
Web.JWT/Web.JWT/obj/
Web.Validations/Web.Validations/obj/
Web.JWT/Web.JWT/bin/
BeetleX.Samples.WebFamily.Bootstrap/BeetleX.Samples.WebFamily.Bbootstrap/bin/
BeetleX.Samples.WebFamily.Bootstrap/BeetleX.Samples.WebFamily.Bbootstrap/obj/
Gateway.Base/LogicalServer/bin/
Gateway.Base/LogicalServer/obj/
Gateway.Base/LogicalServer/Properties/
Gateway.Base/LogicServer/bin/
Gateway.Base/LogicServer/obj/
Gateway.Base/LogicServer/Properties/
Gateway.Base/Gateway.Base/Properties/
BeetleX.Samples.WebFamily.Bootstrap/.vs/
BeetleX.Samples.WebFamily.AdminTheme/.vs/BeetleX.Samples.WebFamily.AdminTheme/v16/
XRPC.Performance/TestServer/bin/
XRPC.Performance/TestClient/obj/
XRPC.Performance/TestServer/obj/
XRPC.Performance/TestClient/bin/
BeetleX.Samples.WebFamily.ECharts/bin/Debug/net5.0/_tempview/BeetleX.WebFamily.views.webfonts.fa-regular-400.ttf
BeetleX.Samples.WebFamily.ECharts/bin/Debug/net5.0/_tempview/BeetleX.WebFamily.views.webfonts.fa-regular-400.svg
BeetleX.Samples.WebFamily.ECharts/bin/Debug/net5.0/_tempview/BeetleX.WebFamily.views.webfonts.fa-solid-900.svg
BeetleX.Samples.WebFamily.ECharts/bin/
BeetleX.Samples.WebFamily.ECharts/obj/
BeetleX.Samples.WebFamily.ECharts/.vs/
XRPC.Performance/.vs/
BeetleX.Samples.WebFamily.ECharts/_tempview/
BeetleX.Samples.WebFamily.FileUpload/BeetleX.Samples.WebFamily.FileUpload/bin/
BeetleX.Samples.WebFamily.FileUpload/BeetleX.Samples.WebFamily.FileUpload/obj/
BeetleX.Samples.WebFamily.FileUpload/BeetleX.Samples.WebFamily.FileUpload/views/uploadfiles/
BeetleX.Samples.WebFamily.ElasticSearch/.vs/BeetleX.Samples.WebFamily.ElasticSearch/v16/
BeetleX.Samples.WebFamily.ElasticSearch/BeetleX.Samples.WebFamily.ElasticSearch/bin/
BeetleX.Samples.WebFamily.ElasticSearch/BeetleX.Samples.WebFamily.ElasticSearch/obj/
BeetleX.Samples.WebFamily.FileUpload/.vs/
BeetleX.Samples.WebFamily.MarkdownEditor/BeetleX.Samples.WebFamily.MarkdownEditor/bin/
BeetleX.Samples.WebFamily.MarkdownEditor/BeetleX.Samples.WebFamily.MarkdownEditor/obj/
BeetleX.Samples.WebFamily.MarkdownEditor/.vs/
BeetleX.Samples.WebFamily.MarkdownEditor/BeetleX.Samples.WebFamily.MarkdownEditor/views/uploadfiles/
BeetleX.Samples.WebFamily.MarkdownEditor/BeetleX.Samples.WebFamily.MarkdownEditor/Properties/PublishProfiles/FolderProfile.pubxml
Web.EntityFrameworkCore/BeetleX.Samples.Webapi.EFCore/bin/
Web.EntityFrameworkCore/BeetleX.Samples.Webapi.EFCore/obj/
Web.EntityFrameworkCore/.vs/BeetleX.Samples.Webapi.EFCore/DesignTimeBuild/.dtbcache.v2
Web.EntityFrameworkCore/.vs/BeetleX.Samples.Webapi.EFCore/config/applicationhost.config
Web.EntityFrameworkCore/NorthwindEFCore/bin/
Web.EntityFrameworkCore/NorthwindEFCore/obj/
Web.GithubOAuth/BeetleX.Samples.Webapi.GithubOAuth/obj/
Web.GithubOAuth/.vs/BeetleX.Samples.Webapi.GithubOAuth/config/applicationhost.config
Web.GithubOAuth/.vs/BeetleX.Samples.Webapi.GithubOAuth/DesignTimeBuild/.dtbcache.v2
Web.Hosting/Web.Hosting/bin/
Web.Hosting/Web.Hosting/obj/
Web.Winservice/Web.Winservice/bin/
Web.Winservice/Web.Winservice/obj/
Web.Winservice/Web.Winservice/Properties/
Web.ServiceManagement/Web.ServiceManagement/bin/
Web.ServiceManagement/Web.ServiceManagement/obj/
Web.ServiceManagement/.vs/
Web.ServiceManagement/Web.ServiceManagement/Properties/
Web.BigfileUpload/Web.BigfileUpload/bin/
Web.BigfileUpload/Web.BigfileUpload/obj/
CodeBenchmark.Sample/CodeBenchmark.Sample/bin/
CodeBenchmark.Sample/CodeBenchmark.Sample/obj/
CodeBenchmark.Sample/.vs/
BeetleX.Samples.WebFamily.AdminTheme/BeetleX.Samples.WebFamily.AdminTheme/BeetleX.Samples.WebFamily.AdminTheme.csproj.user
*.user
*.v2
BeetleX.Samples.WebFamily.ECharts/.vscode/
BeetleX.Samples.WebFamily.SBAdminUI/.vs/
BeetleX.Samples.WebFamily.SBAdminUI/obj/
Web.CustomParameterBinder/.vs/
Web.CustomParameterBinder/Web.CustomParameterBinder/obj/
*.suo
BeetleX.Samples.WebFamily.ECharts/logs/
