<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BeetleX" version="1.4.8" targetFramework="net472" />
  <package id="BeetleX.XRPC.Clients" version="0.8.2.3" targetFramework="net472" />
  <package id="MessagePack" version="2.1.80" targetFramework="net472" />
  <package id="MessagePack.Annotations" version="2.0.323" targetFramework="net472" />
  <package id="MessagePackAnalyzer" version="2.0.323" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net472" />
  <package id="Northwind.Data" version="1.2.3" targetFramework="net472" />
  <package id="protobuf-net" version="2.4.0" targetFramework="net472" />
  <package id="System.Buffers" version="4.5.0" targetFramework="net472" />
  <package id="System.Memory" version="4.5.3" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.4.0" targetFramework="net472" />
  <package id="System.Reflection.DispatchProxy" version="4.5.1" targetFramework="net472" />
  <package id="System.Reflection.Emit" version="4.6.0" targetFramework="net472" />
  <package id="System.Reflection.Emit.Lightweight" version="4.6.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="net472" />
  <package id="System.Runtime.Serialization.Primitives" version="4.3.0" targetFramework="net472" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.3" targetFramework="net472" />
</packages>