<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
    <link href="/css/beetlex-v1.css" rel="stylesheet" />
    <script src="/js/beetlex-v1.js"></script>
</head>
<body>
    <div id="wecaht">
        <img src="qrcode.jpg" />
        <br />
        (关注公众号)
    </div>
    <div id="app">
        <div id="header">
            <h1 style="color:#808080;margin-top:10px;padding-left:10px;">BeetleX</h1>
        </div>
        <div id="content" style="text-align:center;">
            <upload></upload>
        </div>
    </div>
    <script>
        var page = new Vue({
            el: '#app'
        });
    </script>
</body>
</html>