<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>BeetleX WPF-VUE</title>
    <link href="/css/beetlex-v1.css" rel="stylesheet" />
    <script src="/js/beetlex-v1.js"></script>
</head>
<body>
    <div id="app">
        <hello></hello>
    </div>
    <script>

        page = new Vue({
            el: '#app',
            data: {

            },
            methods: {
            },
            mounted() {

            },
        });

    </script>
</body>
</html>