<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>BeetleX.WebFamily</title>
    <link href="/css/beetlex-v1.css" rel="stylesheet" />
    <script src="/js/beetlex-v1.js"></script>
</head>
<body>
    <div id="app">
        <div :class="[menuMax==true?'menu-max':'menu-min'] ">
            <menus @change="onMenuChange"></menus>
        </div>
        <div :class="mainCss">
            <el-tabs type="card" v-model="selectTab" @tab-click="onSelect" style="position:absolute;top:2px;bottom:2px;left:2px;right:2px;" @tab-remove="removeTab">
                <el-tab-pane v-for="item in menusItems" :label="item.title" :name="item.title" :key="item.title" :closable="item.module!='home'"
                             style="position:absolute;top:10px;bottom:2px;left:10px;right:10px;">
                    <div class="content">
                        <div :class="contentCss" style="position:absolute;top:2px;bottom:2px;left:2px;right:2px;">
                            <keep-alive>
                                <component :is="item.module" :tag="item.token" :wintitle="item.title"></component>
                            </keep-alive>
                        </div>
                    </div>
                </el-tab-pane>

            </el-tabs>

        </div>

    </div>
    <script>
        page = {};
        Vue.prototype.$open = function (module, title, token) {
            page.onOpen(module, title, token);
        }

        Vue.prototype.$close = function (name) {
            page.onClose(name);
        }
        page = new Vue({
            el: '#app',
            data: {
                menuMax: true,
                mainCss: 'main-min',
                contentCss: 'main-show',
                module: '',
                moduleTitle: '',
                selectTab: '',
                moduleTag: {},
                menusItems: [],
            },
            methods: {
                onMenuChange(e) {
                    this.menuMax = !e;
                    if (this.menuMax == true) {
                        this.mainCss = 'main-min';
                    }
                    else {
                        this.mainCss = 'main-max';
                    }
                    __addResizeHandler(this.onResize);
                    __resize();
                },
                onClose(name) {
                    var index = -1;
                    for (var i = 0; i < this.menusItems.length; i++) {
                        if (this.menusItems[i].title == name) {
                            index = i;
                        }
                    }
                    if (index >= 0) {
                        this.menusItems.splice(index, 1);
                        var item = this.menusItems[index - 1];
                        this.$open(item.module, item.title, item.token);
                    }

                },
                removeTab(targetName) {
                    this.onClose(targetName);
                },
                onSelect(e) {
                    var item;
                    for (i = 0; i < this.menusItems.length; i++) {
                        if (this.menusItems[i].title == this.selectTab) {
                            item = this.menusItems[i];
                            break;
                        }
                    }
                    if (item) {
                        this.onOpen(item.module, item.title, item.token);
                    }
                },
                onResize() {
                    console.log("resize");
                },
                onOpen(module, title, token) {
                    var item;
                    for (i = 0; i < this.menusItems.length; i++) {
                        if (this.menusItems[i].title == title) {
                            item = this.menusItems[i];
                            break;
                        }
                    }
                    if (!item) {
                        item = { module: module, title: title, token: token }
                        this.menusItems.push(item);
                    }
                    if (this.moduleTitle != item.title) {
                        this.moduleTitle = item.title;
                        this.module = item.module;
                        this.selectTab = item.title;
                        this.moduleTag = item.token;
                        __resize();
                        this.contentCss = 'main-hide';
                        setTimeout(() => {

                            this.contentCss = 'main-show';

                        }, 200);
                    }
                }
            },
            mounted() {
                setTimeout(() => {
                    this.$open('home', '主页');
                }, 300);
            },
        });

    </script>
</body>
</html>