

::-webkit-scrollbar {
    height: 6px;
    width: 6px;
    margin-top: 4px;
    border-right-color: rgba(0, 0, 0, 0.00);
    border-right-width: 4px;
    border-right-style: solid;

}

::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background: #808080;
    border-right-color: rgba(0, 0, 0, 0.00);
    border-right-width: 4px;
    border-right-style: solid;
}

::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.00);
    border-right-color: rgba(0, 0, 0, 0.00);
    border-right-width: 4px;
    border-right-style: solid;
}

.menu-title {
    background-color: rgba(180, 180, 180, 0.21);
    padding: 1px 4px;
    padding-left: 10px;
}

    .menu-title a {
        float: right;
        margin-top: 8px;
        font-size: 18pt;
        color: #6cc9de;
        cursor: pointer;
    }

        .menu-title a:hover {
            color: #808080;
        }

    .menu-title h2 {
        font-size: 12pt;
        color: #808080;
    }

.menu-max {
    position: fixed;
    width: 220px;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.31);
    top: 0px;
    left: 0px;
    bottom: 0px;
}

.menu-min {
    position: fixed;
    width: 65px;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.31);
    top: 0px;
    left: 0px;
    bottom: 0px;
}
.main-hide {
    opacity: 0;
}
.main-show {
    opacity: 1;
    transition: opacity 0.3s linear;
}
.main-min {
    position: fixed;
    left: 230px;
    right: 10px;
    top: 5px;
    bottom: 10px;
   
}

.main-max {
    position: fixed;
    left: 75px;
    right: 10px;
    top: 5px;
    bottom: 10px;
}

.content {
    position: absolute;
    top: 40px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    overflow-y: auto;
}
/*el css*/
.el-tabs__content {
    overflow: hidden;
    position: initial;
}
.order-item {
    font-size:10pt;
}
.order-item .el-form-item__label {
    font-weight: bold;
    padding: 0px 5px;
}

.order-item .el-form-item {
    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: #cfcfcf;
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: #cfcfcf;
    border-radius: 8px;
}
.order-item .el-form-item__content {
    border-bottom-width: 1px;
    border-bottom-style: dashed;
    border-bottom-color: #cfcfcf;
    background-color:rgba(255, 255, 255, 0.34);
    padding:0px 5px;
    border-radius:6px;
    font-size:10pt;
}
.order-item .el-form-item {
    margin-right: 20px;
    padding: 0px 5px;
}



.el-menu {
    border-right: 0px;
}

.el-submenu .el-menu-item {
    height: 40px;
    line-height: 40px;
    padding: 0 45px;
    min-width: 200px;
}

.el-menu-item, .el-submenu__title {
    height: 45px;
    line-height: 45px;
}
