<div class="footer">
    <p style="text-align:center;margin:2px;">
   
        <span> copyright © 2019- 2020 </span><el-link type="primary" href="http://beetlex.io" target="_blank">beetlex.io</el-link>
        <el-divider direction="vertical"></el-divider> <el-link type="primary" href="https://github.com/ikende" target="_blank">github.com</el-link>
        <el-divider direction="vertical"></el-divider><el-link type="primary" href="https://github.com/elemefe" target="_blank">ElementUI</el-link>
    </p>
</div>
<script>
    {
        data() {
            return {
            }
        },
        methods: {

        },
        mounted(){

        }
    }
</script>