<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
    <link href="/css/vuebase.css" rel="stylesheet" />
    <script src="/js/vuebase.js"></script>
</head>
<body>
    <div id="app">
        <page-header></page-header>
        <div id="main">
            <page-menu @select="select"></page-menu>
<div id="content">
    <component :is="module"></component>
</div>
        </div>
    </div>
    <script>
        var page = new Vue({
            el: '#app',
            data: {
                items: [],
                module:'customers',
            },
            methods: {
                select(module) {
                    this.module = module;
                },
            }
        });
    </script>
</body>
</html>